body {
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    
}

.container {
    max-width: 1500px;
    margin: 3rem auto 0 auto;
    color: white;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.12);    
}

.fas.fa-circle.red {
    color: red;
}

.fas.fa-circle.green {
    color: #4cbb17;
}

.fas.fa-circle.yellow {
    color: yellow;
}

.fas.fa-circle.yellow,
.fas.fa-circle.red,
.fas.fa-circle.green {
    font-size: 0.7rem;
    padding-right: 15px;
    padding-left: 20px;
    position: relative;
    bottom: 3px;
}

* {
    box-sizing: border-box;
}

.empty-div {
    height: 6rem;
    width: 12.125rem;
}

[class*="col-"] {
    float: left;
    padding: 12px;
    border: 1px solid#000000;
}

.widget-header {
    background: #333333;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.arrows {
    float: right;
    margin-top: -62px;
    color: black;
    font-size: 80%;
}

.arrows.col-2 {
    border: none;
}

.widget-header p {
    padding-left: 10px;
}





.row {
    background: #1a1a1a;
}

.info {
    background: #252525;
}

.footer {
    background: #202020;
    color: white;
}

.empty-div,
.info-selector-div {
    background: #202020;
}

.info-box {
    background: white;
}

.col-4 {
    max-width: 600px;
}

.col-8 {
    max-width: 900px;

}



p.info-selector-text {
    color: #202020;
    padding: 10px;
}

.col-4 p,
.col-8 p {
    text-align: left;
}

.widget-header {
    padding: 25px;
    font-size: 130%;
}

.col-8 p {
    opacity: 0.4;
    padding-left: 20px;
    
}





 /* .col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}  */

.row:hover {
    background: grey;
}

.row.widget-header:hover {
    background-color: none;
}



.modal1 {
    width: 326px;
    height: 148px;
    background: grey;
    
    margin-left: 130px;
    margin-top: -27px;
    border-color: transparent;
    position: relative;
    z-index: 999;
} 